.image-comment {
  .image-comment__list-comment {
    max-height: 320px;
    overflow: auto;

    .image-comment__list-comment-item {
      display: grid;
      grid-template-columns: 30px 1fr 40px;
    }

    .comment-item_button--delete {
      align-self: center;
      text-align: center;
    }
  }
  .btn-undo-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}