@import '~antd/dist/antd.less';

.uploading-file__item {
  border-bottom: .5px solid @border-color-base;
}
.uploading-file__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.instructions-card__instructions--item {
  margin-bottom: 10px;
}

.basic-setting__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.basic-setting__control {
  height: 24px;
}

.basic-setting__color-picker {
  height: 24px;
  display: flex;
  align-items: center;
}

.advance-setting__list {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .ant-checkbox-wrapper {
    margin-left: unset;
  }
}

.submitting-file__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
